:root, :host {
  // Custom Colors
  --primary: #32568A;

  // Tachyon Colors
  --white: #FFFFFF;
  --gray: #777777;
  --light-siver: #AAAAAA;
  --moon-gray: #CCCCCC;

  // Shadows
  --shadow-4: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
}

.bg {
  &-primary {
    background-color: var(--primary);
  }
}
